body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
   
   
  }
  
  .icon{
    position: fixed;
    text-align: center;
    margin-top: 3%;
    line-height: 30px;
    width: 8%;
    left: 90%;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
  }

  .menu{
    font-size: 2vw;
    position: fixed;
    margin-left: 3%;
    margin-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 103%;
    z-index: 1;
    width: 10%
  }

  .slideshow{
    width: 70%;
    left: 40%;
    margin-top: 3%;
    cursor: ns-resize;
    z-index: -1;
    height: 80%;
    position: absolute;
    display: block;
 }

 .imgLink{
  width: 60%;
  padding: 5px;
  color: blue;
  text-align: center;
  display: inline-block;
  text-align: right;
  margin-bottom: 4%;
line-height: 60px;;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800px;
  font-size: 2.4vw;
}

.imgLink:hover{
color:blue;
text-decoration: underline;
cursor: pointer;
}

 .slideshow img{
    width: 100%;
    height: auto;
 }
 

  

  #about{
      padding: 5px;
  }

  #editorial{
    padding: 5px;
    }

    #web{
    padding: 5px;
    }

    #misc{
    padding: 5px;
    }

  #about:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
  }

  #editorial:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
  }

  #web:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
  }

  #misc:hover{
    cursor: pointer;
    background-color: blue;
    color: white;
  }
  
  #hand{
    width: 80%;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .bigtext{
    font-family: Arial, Helvetica, sans-serif;
      font-weight: 800;
      line-height: 90%;
      font-size: 11vw;
      position: fixed;
      margin-left: 2%;
      bottom: 5%;
      display: block;
      cursor: default;

  }

  .shrink{
    animation-name: shrinkaway;
    animation-iteration-count: 1;
    animation-direction: inherit;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    
  }


  @keyframes shrinkaway{
    0%{
      font-weight: 800;
      line-height: 90%;
      font-size: 11vw;
      margin-left: 2%;
      bottom: 5%;
      width: 50px;
    }
    100%{
      font-weight: 800;
      line-height: 90%;
      bottom: 4%;
      font-size: 4vw;
    }
  }

  @keyframes fade{
    0%{
      opacity: 100;
    }
    100%{
      opacity: 0;
      display: none;
    }
  }

  .fade{
    animation-name: fade;
    animation-iteration-count: 1;
    animation-direction: inherit;
    animation-fill-mode: forwards;
    animation-duration: .3s;
  }


  #dot{
      background-color: black;
      width: 25px;
      height: 25px;
      margin-left:2px;
      color: black;
      display: inline-block;
      cursor: pointer;
  }

  #dot:hover{
    background-color: blue;
    transition: .5s ease-in-out;
  }


  .statement{
      font-size: 3.5vw;;
      position: fixed;
      bottom: 10%;
      color: blue;
      font-style: italic;
      text-align: center;
      font-weight: 800;
      transform: rotate(-10deg);
      margin-left: 50%;
      bottom: 8%;
      animation-name: throb;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;

  }

  
  @keyframes spin{
    100%{
      transform: rotatey(360deg);
    }
  }

  @keyframes throb{
      100%{
          font-size: 3vw;
      }
  }

 #aboutPg{
  margin-top: 5%;
  width: 60%;
  height: 95%;
  left: 45%;
  position: absolute;
  overflow-y: auto;
  display: none;
 }


 #editorialPg{
  width: 60%;
  left: 45%;
  margin-top: 3%;
  cursor: ns-resize;
  z-index: -1;
  height: 95%;
  position: absolute;
  display: none;
 }

 #webPg{
  width: 60%;
  left: 45%;
  margin-top: 3%;
  cursor: ns-resize;
  z-index: -1;
  height: 95%;
  position: absolute;
  display: none;
}


#miscPg{
  width: 60%;
  left: 45%;
  margin-top: 3%;
  cursor: ns-resize;
  z-index: -1;
  height: 95%;
  position: absolute;
  display: none;
}

 .abttext{
   font-size: 1vw;
   width: 60%;
   left:35%;
   font-family: Arial, Helvetica, sans-serif;
 }

 .textblock{
     width: 45%;
     display: inline-block;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.02vw;
     padding: 20px;
     position: absolute;
     left: 38%;
     top: 0%;
 }

 #secondshiftPg{
  margin-top: 25px;
   width: 60%;
   overflow-y: auto;
   position: absolute;
   margin-left: 40%;
   top: 2%;
   display: none;
   cursor: ns-resize;
 }

 #commandPg{
  margin-top: 25px;
   width: 60%;
   position: absolute;
   margin-left: 40%;
   top: 2%;
   display: none;
   cursor: ns-resize;
 }

 #joePg{
  margin-top: 25px;
  width: 60%;
  position: absolute;
  margin-left: 40%;
  top: 2%;
  display: none;
  cursor: ns-resize;
 }

 #vazifdarPg{
  margin-top: 25px;
  width: 60%;
  position: absolute;
  margin-left: 40%;
  top: 2%;
  display: none;
  cursor: ns-resize;
 }

 #divPg{
  margin-top: 25px;
  width: 60%;
  position: absolute;
  left: 45%;
  display: none;
  cursor: ns-resize;
 }

 #baldwinPg{
  margin-top: 25px;
  width: 68%;
  left: 20%;
  position: absolute;
  display: none;
}

#render2Pg{
  margin-top: 25px;
  width: 68%;
  left: 20%;
  position: absolute;
  display: none;
}

#miramuiPg{
  margin-top: 25px;
  width: 60%;
  left: 45%;
  position: absolute;
  overflow-y: auto;
  display: none;
}

a{
  text-decoration: none;
}

a:visited{
  color: blue
}

a:hover{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.video{
width: 100%;
height: 610px;

}

 #posterbtn{
  width: 100%;
  height: auto;
  margin-bottom: 5%;
 }

.projtitle{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8vw;
  font-weight: 800;
}

.projtext{
  width: 65%;
  font-size: 1.2vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:1%;
  margin-bottom:1%;
}
.projtext-body{
  width: 65%;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  margin-top:2%;
  margin-bottom:2%;
}

.projimg{
  width: 32%;
  text-align: center;
  padding: 15px;
  margin-top:2%;
  margin-bottom:2%;
}

.projimgBig{
  width: 65%;
  padding: 15px;
  margin-top:2%;
  margin-bottom:2%;
  text-align: center;
}

#textbackground{
  background-color: white;
  padding: 5px;
}

.video{
  position: relative;
  display: inline-block;
  padding: 15px;
}

#insta{
  color: white;
  text-decoration: underline;
}
#center{
  text-align: center;
}