html{
    overflow-x: hidden;
    background-color: whitesmoke;
}
::-webkit-scrollbar{
    display: none;
}

#menu{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    width: 110%;
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;
   
}
.item{
    padding-bottom: 17px;;
    text-decoration: underline;
    display: inline-block;
    width: 25%;
    float: left;    
}

#big{
    font-size: 10vw;
    animation-name: big-compress;
    animation-duration: .59s;
    line-height: 100px;;
    font-family: 'Times New Roman', Times, serif;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
white-space: nowrap;
}

#medium{
    font-size: 8vw;
    animation-name: big-compress;
    animation-duration: .59s;
    line-height: 50px;;
    font-family: 'Times New Roman', Times, serif;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
white-space: nowrap;
}


#hand{
    width: 8%;
    display: inline;
}

@keyframes big-compress{
    0%{
        letter-spacing: inherit;
    }
    100%{
        letter-spacing: -10px;
    }
}

.item:hover{
    cursor: pointer;
    text-decoration: underline;
    color: orange;
}

#about{
    display: none;
    font-family: Helvetica;
    width: 100%;
    font-size: 15px;
    margin-left: 5%;;
    margin-top: 5%;
    position: absolute;
}

.new{
    color: orange;
}

#home{
    font-family: helvetica;
    width: 100%;
    font-size: 15px;
    margin-left: 5%;;
    margin-top: 5%;
    position: absolute;
    display: none;
}

#contact{
    font-family: helvetica;
    width: 100%;
    font-size: 15px;
    margin-left: 5%;;
    margin-top: 5%;
    position: absolute;
    display: none;
}

#work{
    font-family: helvetica;
    width: 100%;
    font-size: 15px;
    margin-left: 5%;;
    margin-top: 5%;
    position: absolute;
    display: none;
}

.homeitem{
    font-size: 2vw;
    width: 70%;
    height: 300px;
    margin-top: 4%;
}


a{
    color: black;
}
a:hover{
    color: orange;
}

hr{
    border-top: 3px solid gray
}
.bodytext{
    width: 30%;
}

.list-item{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    width: 70%;
    letter-spacing: -1px;;
    margin-bottom: 3%;
    margin-top: 3%;
}
.list-img{
    width: 40%
}

.list-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    letter-spacing: 0px;;
}

#project{
    font-family: helvetica;
    width: 100%;
    font-size: 15px;
    margin-left: 5%;;
    margin-top: 5%;
    position: absolute;
    display: block;
}

.big-container{
    width: 53%;
    margin-left: 35%;;
    position: absolute;
    height: 450px;
   margin-top: 3%;
}

.project-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    letter-spacing: -1px;;
    margin-bottom: 3%;
}

.project-text{
    position: inherit;
    font-size: 1.1vw;
    width: 30%;
    top: 2%;
}

.side-img{
    width: 100%;
    position: relative;
    margin-bottom: 30%;
}

.inline-img{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
